h2 {
  margin: 0;
  padding: 1rem;
  background-color: var(--dark-grey);
  color: var(--bg-color);
  font-size: 1rem;
  border-radius: .25rem;
}

h4 {
  color: var(--dark-grey);
  font-size: .8rem;
  padding: 1.5em .6em .6em .6em;
  margin-top: .6em;
  border-top: 3px groove var(--dark-grey);
}

h5, h6 {
  color: var(--dark-grey);
  font-size: .8rem;
  font-weight: 600;
  display: inline-block;
  width: 25%;
}

p {
  font-size: 1rem;
  margin: 0;
}

.circle-graphs h3 {
  font-size: 1.5rem;
  display: block;
}

.graph-button h6 {
  border-radius: 1rem;
  padding: .5rem;
  width: auto;
  border: 1px solid var(--main-color);
  background-color: var(--bg-color);
}
.side-widget h6 {
  width: 90%;
  font-size: 1rem;
}

.side-widget p {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
}
