:root {
  --main-color: #354052;
  --secondary-color: #30394A;
  --bg-color: #EDF2F6;
  --medium-grey: #F5F5F5;
  --dark-grey: #6F7E95;
  --bright-blue: #17A3F8;
  --green: #48B9C2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

body {
  font-size: 1.5em;
  /*height: 100vh;*/
  color: var(--dark-grey);
  display: grid;
  grid-template-columns: 11rem auto;
  grid-template-rows: auto;
  grid-template-areas: "left top" "left bottom";
}

aside {
  grid-area: left;
  font-size: 1rem;
  color: var(--bg-color);
  background-color: var(--main-color);
}

header {
  grid-area: top;
  align-self: start;
}

nav {
  padding: 0 3rem;
  font-size: .8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-area: bottom;
  background: var(--bg-color)
}

.profile {
  padding: .8em;
  text-align: center;
}

.aside-nav form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.search-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 3rem auto 3rem 3rem 3rem;
  grid-template-rows: 3rem;
  grid-template-areas: "hamburger search profile calendar apps";
  border-bottom: 1px solid var(--medium-grey);
}

.header-content {
  width: 100%;
  padding: 3rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
