:root {
  --main-color: #354052;
  --secondary-color: #30394A;
  --bg-color: #EDF2F6;
  --medium-grey: #F5F5F5;
  --dark-grey: #6F7E95;
  --bright-blue: #17A3F8;
  --green: #48B9C2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

body {
  font-size: 1.5em;
  /*height: 100vh;*/
  color: var(--dark-grey);
  display: grid;
  grid-template-columns: 11rem auto;
  grid-template-rows: auto;
  grid-template-areas: "left top" "left bottom";
}

aside {
  grid-area: left;
  font-size: 1rem;
  color: var(--bg-color);
  background-color: var(--main-color);
}

header {
  grid-area: top;
  align-self: start;
}

nav {
  padding: 0 3rem;
  font-size: .8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav .active {
  border-bottom: 4px solid var(--bright-blue);
  font-weight: 600;
}

main {
  grid-area: bottom;
  background: var(--bg-color)
}

.profile {
  padding: .8em;
  text-align: center;
}

.aside-nav form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.search-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 3rem auto 3rem 3rem 3rem;
  grid-template-rows: 3rem;
  grid-template-areas: "hamburger search profile calendar apps";
  border-bottom: 1px solid var(--medium-grey);
}

.search-field {
  grid-area: search;
  position: relative;
  justify-content: flex-start !important;
}

.search-bar span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  transition: all 300ms ease;
}

.search-bar span:hover span {
  z-index: 10;
  color: var(--bg-color);
  transform: scale(1.3);
  text-shadow: 2px 2px 4px #000;
}

.header-content {
  width: 100%;
  padding: 3rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.visual-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "circle-graphs-wrapper bar-graph"
    "circle-graphs-button bar-graph-button"
    "main-divide main-divide";
  padding: 1rem 3rem;
}

.circle-graphs-wrapper, .bar-graph {
  width: 100%;
  margin-top: 1.5rem;
  padding: .5rem;
}

.circle-graphs-wrapper {
  grid-area: circle-graphs-wrapper;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  grid-template-areas: "circle-1 circle-2 circle-3";
}

.bar-graph {
  grid-area: bar-graph;
}

.circle-graphs {
  width: 100%;
  height: auto;
  /*font-size: .7rem;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.circle-graph-1 {
  grid-area: circle-1;
}

.circle-graph-2 {
  grid-area: circle-2;
}

.circle-graph-3 {
  grid-area: circle-3;
}

.graph-button {
  width: 100%;
  display: block;
  text-align: center;
}

.circle-graphs-button {
  grid-area: circle-graphs-button;
}

.bar-graph-button {
  grid-area: bar-graph-button;
}

.main-divide {
  width: 100%;
  grid-area: main-divide;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.main-area {
  display: grid;
  align-self: stretch;
  grid-template-columns: auto 30%;
  grid-template-areas: "content sidebar";
  grid-column-gap: 3rem;
  padding: 0 3rem 2rem 3rem;
  grid-area: main;
}

.main-content {
  grid-area: content;
  border-radius: .25rem;
}

.main-content ul {
  background-color: white;
}

.main-content li {
  margin: 0 1rem;
  padding: 1rem 0;
  font-size: 1rem;
  display: flex;
  border-bottom: 1px solid var(--medium-grey);
}
